[build]
  command = "npm run build"
  publish = "dist"

[build.environment]
  NODE_VERSION = "18"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[context.production.environment]
  VITE_API_URL = "https://shortsandstories-uvfj.onrender.com/api"
  VITE_CLOUDINARY_CLOUD_NAME = "ds75rphlo"

[context.deploy-preview.environment]
  VITE_API_URL = "https://shortsandstories-uvfj.onrender.com/api"
  VITE_CLOUDINARY_CLOUD_NAME = "ds75rphlo"